/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #1a629f;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  /* background-image: url(../images/logo_cover_circle.png); */
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 450px;
  }
}


/* Custom Major Robot */



#stars {
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.star {
    /* width: 195px; */
    height: 200px;
    background: url(../images/star.png) transparent center center no-repeat;
    background-size: 90% auto;
}

.star h3 {
	position: absolute;
	width: 165px; 
	color: #ffd503;
	font-weight: bold;
	font-size: 30px;
	/* color: #d2232a; */
	
	top: 45%;
	left: 50%;
	
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.star h3:hover {
	color: #d2232a;
	cursor: pointer;
}

h3 a, h3 a:link, h3 a:visited, h3 a:active {
	color: #ffd503;
	text-decoration: none;
}

h3 a:hover {
	color: #d2232a;
	text-decoration: none;
}

#main {
	height: 600px;
	position: relative;
	top: 50%;
	
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%);
}

#stars, #card-container {
    position: absolute;
}


#card-container{
	width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#card-parent {
    height: 100%;
    width: 100%;
    /* width: 600px; */
    margin: 0 auto;
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
}

#card {
    /* width: 600px; */ /* Thanks for the bug, FF */
    height: 100%;
    width: 100%;
    position: absolute;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -ms-transition: -ms-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

#card img:empty {
	position: absolute;
	width: 60%;
	max-width: 80%;
	height: auto;
	
	/* center the image with translate so we can make it responsive, too */
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


#card div{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#card .back {
	display: none;

    transform: rotateY( 180deg );
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
}

#card .back .circle {
    background-color: #FFD503;
    border: 20px solid #D2232A;
    border-radius: 50%;
    
    position: absolute;
	width: 60%;
	max-width: 80%;
	height: 0;
	padding-bottom: 55%;
    
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform:rotateY( 180deg );
    transform: rotateY( 180deg );
}


#main .row {
    height: 225px;
}

#main .row-short {
    height: 150px;
}

.block {
    display: none;
    color: #333;
    margin: 0 auto;
    /* width: 100%; */
    text-shadow: none;
    	
    position: absolute;
	top: 50%;
	left: 50%;
	
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


#block-system-main {
	display: block;
}


.block a, .block a:link, .block a:visited, .block a:active {
	color: #1A629F;
}

.block a:hover {
	color: #d2232a;
}


.block li, .block ul{
	list-style: none;
	padding: 0px;
	margin: 0;
}

footer {
	position: absolute;
	bottom: -90px;
	font-size: 11px;
}

footer ul, footer li {
	list-style: none;
}

footer ul {
	margin: 0 auto;
	width: 393px;
	height: 40px;
	padding: 0px;
	text-align: center;
}

footer li {
	margin: 0 0 0;
	float: left;
	padding:4px 0 0 25px;
}

footer li a, footer li a.visited, footer li a.link, footer li a.active {
	color: #ffd503;

}

.lil-star {
	background: url(../images/star_sm.png) transparent 0 0 no-repeat;
	background-size: 20px 20px;
	/* padding:4px 0 0 25px; */
	width: 20px;
	height: 20px;
	padding:20px;
}

footer li.last {
	/* background: #fff; */
	/* color:#d2232a; */
	/* text-shadow: none; */
	/* float: right; */
	background: url(../images/star_sm.png) transparent 0 0 no-repeat;
	background-size: 20px 20px;
	margin-left: 5px;
}


h3{
	/* display: none; */
}

@media (max-width: 768px) {
  body {
    min-width: 480px;
  }
  .row {
    height:75px!important; 
    width:100%;
    margin: 0px;
  }
	#stars {
    position: relative;
    top: 0px;
    -webkit-transform: none;
    transform: none;
    left: inherit;
  }
 #main {
    position: relative;
    top: auto;
    -webkit-transform: none;
    transform: none;
    left: inherit;
  }
	.star {
    position: relative!important;
    background-image: none;
    height: 75px;
    width: 50%;
    float: left;
    margin: 0px;
    line-height: 75px;
	}
  .star h3 {
    font-size: 24px;
    margin: 0px;
  }

  #card-container {
    position: relative; 
    top: 250px;
  }

	#card img, 
	.back .circle {
		max-width: 100%;
		height: auto;
	}
	
	 #card-parent, #card {
	 	width: 100%;
	 }
    #card .back .circle {
      background: none;
      background-image: url("../images/logo_cover_circle.png");
      background-size: 100% 100%;
      
      border: none;
      opacity: .15;
    }
   .block {
    
      color: #333;
      margin: 0 auto;
      width: 90%;
      text-shadow: none;    
      position: absolute;
      top: 250px;
      left: 5%;
      -webkit-transform: none;
      transform: none;
  }

  .block p, .block h2 {
    color: #fff;
  }
  .block a {
    color: #ffd503;
  }

  footer {
    position: relative;
  }
}